body{
  margin: 0px;
  padding: 0px;
}

.general{
  margin: auto;
  margin-top: 50px;
  width: 960px;
  height: 800px;
  background-color: #ffffff;

}

.container{
  background-image: url("imagenes/tarjetabawnet.png");
  position: inherit;
width: 480px;
height: 341px;
left: 41px;
top: 271px;


background-repeat: no-repeat;
background-size: 100%

}

.numbercard{
color: #000000;
font-size: 1.3em;
line-height: 1.3em;
padding: inherit;
text-transform: uppercase;

}

.validation {

  display: block;
  flex-direction: row;
  padding: 10px;

  position: center;
  width: 145px;
  height: 47px;



  background: #8A2BE2;
  border: 1px solid #8A2BE2;
  box-sizing: border-box;
  border-radius: 20px;

}

.exit
{
  display: block;
  flex-direction: row;
  padding: 10px;

  position: center;
  width: 145px;
  height: 47px;

  background: #8A2BE2;
  border: 1px solid #8A2BE2;
  box-sizing: border-box;
  border-radius: 20px;
}
